@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section featured
{
    <!-- banner start -->
    <!-- ================ -->
    <div class="banner dark-translucent-bg" style="background-image: url('/Content/images/page-services-banner.jpg'); background-position: 50% 32%;">
        <!-- breadcrumb start -->
        <!-- ================ -->
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/Home/Index">Home</a></li>
                    <li class="active">CodeTrain Season II</li>
                </ol>
            </div>
        </div>
        <!-- breadcrumb end -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">What We <strong>are offering</strong></h2>
                    <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                    <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                        The mind-blowing opportunity you have hoped for! You couldn't have been more flabbergasted!
                        We are offering the hottest courses at the most astonishing fee and they would still be taught to the atomic stage by professionals
                        who have been using each of the specified technologies for years.
                        Nothing teaches better than experience.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    @{
        if (ViewBag.Status != null)
        {
            if (ViewBag.Status.Equals("SUCCESS"))
            {
        <div class="" style="background-color: green">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="row">
                                <h2>Registration Success</h2>
                                <p style="color: white">Congrats! You have successfully registered for CodeTrain Season II. We would contact you soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            }
            else
            {
        <div class="" style="background-color: red">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="row">
                                <h2>Registration Error</h2>
                                <p style="color: white">Sorry! We could not process your request, please retry!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            }
        }
    }


    <section class="clearfix pv-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Our list of courses</h3>
                    <div class="separator"></div>


                    <!-- pricing tables start -->
					    <!-- ================ -->
					    <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
						    <div class="row grid-space-10">
							    <div class="col-sm-3">
								    <!-- pricing table start -->
								    <!-- ================ -->
								    <div class="plan shadow light-gray-bg bordered best-value border-primary">
									    <div class="header default-bg">
										    <h3>Programming</h3>
										    <div class="price"><span>&#8358;6000 each</span></div>
									    </div>
									    <ul>
										    <li>
											    <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Get started with programming by learning one of the most inspiring language that runs on almost all platform." title="" data-original-title="Java Basic" data-trigger="hover">Java Basic</a>
										    </li>
										    <li>
											    <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Java has been one of the programming language of choice for years. Knowing just the basic is not enough, become a professional instead. (NB: You should know the basics of JAVA to register)" title="" data-original-title="Java Advanced">Java Advanced</a>
										    </li>
									        <li>
									            <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Become a an experienced C# developer" title="" data-original-title="C# Basic" data-trigger="hover">C# Basic</a>

									        </li>
                                            <li>
											    <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Become a mobile app developer by learning android apps development" title="" data-original-title="Android Programming" data-trigger="hover">Android</a>
										    </li>
										    <li><a class="btn btn-default btn-animated radius-50" href="#regForm">Apply <i class="fa fa-user"></i></a></li>
									    </ul>
								    </div>
								    <!-- pricing table end -->
							    </div>
							    <div class="col-sm-3">
								    <!-- pricing table start -->
								    <!-- ================ -->
								    <div class="plan shadow light-gray-bg bordered best-value border-primary">
									    <div class="header default-bg">
										    <h3>Web</h3>
										    <div class="price"><span>&#8358;6000 each</span></div>
									    </div>
									    <ul>
										    <li>
											    <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Website design has been revolutionalized. The latest version of HTML, CSS, JavaScript and JQuery would be taught to get you really equiped" title="" data-original-title="Basic Web Design">Basic Web Dsign</a>
									        </li>
									        <li>
									            <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Go a little step higher. Learn Bootstrap, Responsive & Adaptive Web Design, JQuery" title="" data-original-title="Advanced Web Design">Advanced Web Dsign <br/>(Bootstrap, Responsive Design, JQuery)</a>
									        </li>
									        <li>
									            <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="PhP has remained the most web development language. Knowing the core of it requres some trick. A knowledge of web design (an idea is enough) is required." title="" data-original-title="Basic Php">Basic PhP</a>
									        </li>
									        <li>
									            <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Become an advanced Php developer by learning Php frameworks like laravel." title="" data-original-title="Advanced Php">Advanced Php <br/>(Laravel)</a>
									        </li>
									        <li>
									            <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Enterprise edition of C#. With this you would be able to develop web apps so a knowledge of web design (an idea is enough) and any programming language is required." title="" data-original-title="C# MVC">C# MVC</a>
									        </li>
                                            <li>
											    <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Django is an enterprise framework for python. Web development cannot be more easy! You would almost hate other language when you work with django. A knowledge of web design (an idea is enough) as well as one programming language (prefferably python) is required." title="" data-original-title="Django">Django (Python)</a>
									        </li>
									        <li><a class="btn btn-default btn-animated radius-50" href="#regForm">Apply <i class="fa fa-user"></i></a></li>
									    </ul>
								    </div>
								    <!-- pricing table end -->
							    </div>
							    <div class="col-sm-3">
								    <!-- pricing table start -->
								    <!-- ================ -->
								    <div class="plan shadow light-gray-bg bordered best-value border-primary">
									    <div class="header default-bg">
										    <h3>Graphics</h3>
										    <div class="price"><span>&#8358;6000 each</span></div>
									    </div>
									    <ul>
										    <li>
											    <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Graphics design with adobe illustrator" title="" data-original-title="Adobe Illustrator">Adobe Illustrator</a>
									        </li>
									        <li>
									            <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Graphics Design with Photoshop" title="" data-original-title="Photoshop">Photoshop</a>
									        </li>
									        <li>
									            <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Graphics Design with corel draw" title="" data-original-title="Corel Draw">Corel Draw</a>
									        </li>
									        <li><a class="btn btn-default btn-animated radius-50" href="#regForm">Apply <i class="fa fa-user"></i></a></li>
									    </ul>
								    </div>
								    <!-- pricing table end -->
							    </div>
							    <div class="col-sm-3">
								    <!-- pricing table start -->
								    <!-- ================ -->
								    <div class="plan shadow light-gray-bg bordered best-value border-primary">
									    <div class="header default-bg">
										    <h3>Hardware</h3>
										    <div class="price"><span>&#8358;6000 each</span></div>
									    </div>
									    <ul>
										    <li>
											    <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Basic Electronics" title="" data-original-title="Course Title">Basic Electronics</a>
									        </li>
									        <li>
									            <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Advanced Hardware Programming" title="" data-original-title="Course Title">Advanced <br/>(Hardware Programming)</a>
									        </li>
									        
									        <li><a class="btn btn-default btn-animated radius-50" href="#regForm">Apply <i class="fa fa-user"></i></a></li>
									    </ul>
								    </div>
								    <!-- pricing table end -->
							    </div>
						    </div>
					    </div>
					    <!-- pricing tables end -->
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="video-background-banner pv-40 dark-translucent-bg sp-height">
        <div class="container">
            <div class="call-to-action text-center">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="title">Register Now</h2>
                        <p>There are limited spaces available! It would be cool for you to register now before all spaces are occupied.</p>

                        <div class="separator"></div>

                    </div>
                </div>
                <div class="row col-sm-8 col-sm-offset-2 white-bg">
                    @using (Html.BeginForm("CodeTrain2", "Training", FormMethod.Post, new { enctype = "multipart/form-data", id = "regForm" }))
                    {
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label text-default">Full Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="name" name="name" placeholder="Full Name" type="text" required="required">
                            </div>
                            <br />
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label text-default">Phone Number</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="phone" id="phone" placeholder="Phone" type="text" required="required">
                            </div>
                            <br />
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label text-default">Email</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="mail" id="email" placeholder="Email" type="email" required="required">
                            </div>
                            <br />
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label text-default">Address</label>
                            <div class="col-sm-10">
                                <input class="form-control" placeholder="Address" type="text" id="address" name="address" required="required">
                            </div>
                            <br />
                        </div>
                        <br />
                        
                        <div class="form-group">
                            <label for="demo-cs-multiselect" class="col-sm-2 control-label text-default">Courses</label>
                            <div class="col-sm-10" id="courses-select-div">
                                <select id="demo-cs-multiselect" data-placeholder="Choose courses..." multiple tabindex="4" required="required">
                                    <option value="Java Basic">Java Basic</option>
                                    <option value="Java Advanced">Java Advanced</option>
                                    <option value="C# Basic">C# Basic</option>
                                    <option value="C# MVC">C# MVC</option>
                                    <option value="Android">Android Development</option>
                                    <option value="Web Design Basic">Basic Web Design</option>
                                    <option value="Advanced Web Design">Advanced Web Design</option>
                                    <option value="PhP Basic">PhP Basic</option>
                                    <option value="Advanced Php">Advanced Php</option>
                                    <option value="Django-Python">Django-Python</option>
                                    <option value="Adobe Illustrator">Adobe Illustrator</option>
                                    <option value="Photoshop">Photoshop</option>
                                    <option value="Corel Draw">Corel Draw</option>
                                    <option value="Basic Electronics">Basic Electronics</option>
                                    <option value="Hardware Programming">Hardware Programming</option>
                                </select>

                            </div>
                            <br />
                        </div>
                        <p class="text-danger">Multiple course selection allowed</p>
                        <input type="hidden" id="selected-courses" name="courses" />
                        
                    }
                    <input type="submit" value="Submit" class="submit-button btn btn-default" onclick="submitForm()">
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
}

@section styles
{
    <link href="~/Content/nifty/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <link href="~/Content/nifty/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">


    <!--Chosen [ OPTIONAL ]-->
    <link href="~/Content/nifty/chosen/chosen.min.css" rel="stylesheet">
    <style>
        .border-primary {
            border: 1px solid #09AFDF;
        }
        .sp-height {
            min-height: 800px;
        }

    </style>
}

@section scripts
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Content/nifty/bootstrap-select/bootstrap-select.min.js"></script>


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <script src="~/Content/nifty/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/Content/nifty/chosen/chosen.jquery.min.js"></script>
    <!--Form Component [ SAMPLE ]-->
    <script src="~/Content/nifty/demo/form-component.js"></script>

    <script type="text/javascript">

        function submitForm() {

            var options = $('#demo-cs-multiselect').find('option');
            var res = "";
            options.each(function () {
                if ($(this).is(':selected')) {
                    res += $(this).attr('value') + ", ";
                }
            });
            var name = $('#name').val();
            var phone = $('#phone').val();
            var email = $('#email').val();
            var address = $('#address').val();
            if (name === '' || name === undefined || name === null) {
                alert('Please supply your name');
            }
            else if (phone === '' || phone === undefined || phone === null) {
                alert('Please supply your phone number');
            }
            else if (email === '' || email === undefined || email === null) {
                alert('Please supply your mail');
            }
            else if (address === '' || address === undefined || address === null) {
                alert('Please supply your address');
            }
            else if (res === '' || res === undefined || res === null) {
                alert('You have not selected any course!');
            }
            else {
                $('#selected-courses').val(res);
                $('#regForm').submit();
            }
            


        }

    </script>
}
