@section featured
{
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container jumbotron light-gray-bg text-center margin-clear">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-6 col-md-offset-3 pv-40">
                    <h1 class="page-title"><span class="text-default">404</span></h1>
                    <h2>Ooops! Page Not Found</h2>
                    <p>The requested URL was not found on this server. Make sure that the Web site address displayed in the address bar of your browser is spelled and formatted correctly.</p>
                    <a href="/Home/Index" class="btn btn-default btn-animated btn-lg">Return Home <i class="fa fa-home"></i></a>
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
}

@section footerTop
{
    <div class="dark-bg  default-hovered footer-top animated-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>Highcon Technologies</h2>
                                <h2>We make the best software solutions</h2>
                            </div>
                            <div class="col-sm-4">
                                <p class="mt-10"><a href="/Home/Contact" class="btn btn-animated btn-lg btn-gray-transparent ">Contact us<i class="fa fa-coffee pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
