@section featured
{
    <!-- banner start -->
    <!-- ================ -->
    <div class="banner dark-translucent-bg" style="background-image: url('/Content/images/page-services-banner.jpg'); background-position: 50% 32%;">
        <!-- breadcrumb start -->
        <!-- ================ -->
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="index.html">Home</a></li>
                    <li class="active">Page Services</li>
                </ol>
            </div>
        </div>
        <!-- breadcrumb end -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">What We <strong>Provide</strong></h2>
                    <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                    <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->


    <section class="clearfix pv-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">The <strong>Process</strong> We Follow</h3>
                    <div class="separator"></div>


                    <!-- pricing tables start -->
                    <!-- ================ -->
                    <div class="pricing-tables stripped object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                        <div class="row grid-space-0">
                            <!-- pricing table start -->
                            <!-- ================ -->
                            <div class="col-sm-3 plan stripped">
                                <div class="header dark-bg">
                                    <h3>Basic</h3>
                                    <div class="price"><span>Free</span></div>
                                </div>
                                <ul>
                                    <li>1 User</li>
                                    <li>
                                        <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15GB Storage" data-trigger="hover">1GB Storage</a>
                                    </li>
                                    <li>
                                        <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15 Email Acounts">1 Email Acounts</a>
                                    </li>
                                    <li>Subdomains</li>
                                    <li>Security</li>
                                    <li>Bandwidth</li>
                                    <li>Databases</li>
                                    <li><a class="btn btn-dark btn-animated">Subscribe <i class="fa fa-user"></i></a></li>
                                </ul>
                            </div>
                            <!-- pricing table end -->

                            <!-- pricing table start -->
                            <div class="col-sm-3 plan stripped">
                                <div class="header dark-bg">
                                    <h3>Premium</h3>
                                    <div class="price"><span>$19.99</span>/m.</div>
                                </div>
                                <ul>
                                    <li>80 Users</li>
                                    <li>Unlimited Disk Space</li>
                                    <li>
                                        <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Unlimited Subdomains">Unlimited Email Acounts</a>
                                    </li>
                                    <li>Subdomains</li>
                                    <li>Security</li>
                                    <li>500 Visitors per month</li>
                                    <li>1 Database</li>
                                    <li><a class="btn btn-dark btn-animated">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <!-- pricing table end -->

                            <!-- pricing table start -->
                            <!-- ================ -->
                            <div class="col-sm-3 plan stripped best-value">
                                <div class="header default-bg">
                                    <h3>Pro</h3>
                                    <div class="price"><span>$24.99</span>/m.</div>
                                </div>
                                <ul>
                                    <li>Unlimited Users</li>
                                    <li>Unlimited Disk Space</li>
                                    <li>Unlimited Email Acounts</li>
                                    <li>Unlimited Subdomains</li>
                                    <li>
                                        <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Enchaned Security">Enchaned Security</a>
                                    </li>
                                    <li>Unlimited Bandwidth</li>
                                    <li>Unlimited Databases</li>
                                    <li><a class="btn btn-default btn-animated">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <!-- pricing table end -->

                            <!-- pricing table start -->
                            <!-- ================ -->
                            <div class="col-sm-3 plan">
                                <div class="header dark-bg">
                                    <h3>Ultimate</h3>
                                    <div class="price"><span>$45.99</span>/m.</div>
                                </div>
                                <ul>
                                    <li>Unlimited Users</li>
                                    <li>Unlimited Disk Space</li>
                                    <li>Unlimited Email Acounts</li>
                                    <li>Unlimited Subdomains</li>
                                    <li>
                                        <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Enchaned Security">Enchaned Security</a>
                                    </li>
                                    <li>Unlimited Bandwidth</li>
                                    <li>Unlimited Databases</li>
                                    <li><a class="btn btn-dark btn-animated">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <!-- pricing table end -->

                        </div>
                    </div>
                    <!-- pricing tables end -->

                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="video-background-banner pv-40 dark-translucent-bg">
        <div class="container">
            <div class="call-to-action text-center">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="title">Subscribe Now</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
                        <div class="separator"></div>

                    </div>
                </div>
                <div class="row col-sm-6 col-sm-offset-3">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group has-feedback">
                            <label for="name" class="control-label">Name*</label>
                            <input type="text" class="form-control" id="name" name="name" required="required">
                            <i class="fa fa-user form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" name="uEmail" required="required">
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="subject">Subject*</label>
                            <input type="text" class="form-control" id="subject" name="subject">
                            <i class="fa fa-navicon form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="message">Message*</label>
                            <textarea class="form-control" rows="6" id="message" name="message" required="required"></textarea>
                            <i class="fa fa-pencil form-control-feedback"></i>
                        </div>
                        <input type="submit" value="Submit" class="submit-button btn btn-default">
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
}
